<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry_Confirm_Delete</title>
</head>
<body>
{% extends "app_app/header.html" %}
{% block content %}
<div class= "px-4 py-5 my-5 text-center">
    <form method="post" id="login-form">{% csrf_token %}
        <p class = "lead font-weight-normal">
            Are you sure you want to delete
            <em><b>"{{ entry.title }}"</b></em>
            created on {{ entry.date_created|date:'Y-m-d' }}?
        </p>
        <input type="submit" value="Confirm">
    </form>
    <a href="{% url 'entry-detail' entry.id %}" class="btn btn-outline-dark btn-sm m1">
        Cancel
    </a>
</div>
{% endblock %}
</body>
</html>