<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry_List</title>
    <!-- CSS only -->
</head>
<body>
    {% extends 'app_app/header.html' %}
        {% block content %}
        <div class="px-4 py-5 my-5 text-center">
            <a href = "{% url 'entry-create' %}" class="btn btn-primary">Create Note</a>
            <hr>
            {% for entry in entry_list %}
                    <article>
                        <h2 class="{{ entry.date_created|date:'l' }}">
                            <p> Time: {{ entry.date_created|date:'Y-m-d H:i' }}</p>
                        </h2>
                        <h3>
                            <a href="{% url 'entry-detail' entry.id %}">
                                <p>Name: {{ entry.title }}</p>
                            </a>
                        </h3>
                        <h3>
                            <a href="{% url 'entry-detail' entry.id %}">
                                <p>Price: {{ entry.price }}</p>
                            </a>
                        </h3>
                        <h3>
                            <a href="{% url 'entry-detail' entry.id %}">
                                <p>Shares: {{ entry.shares }}</p>
                            </a>
                        </h3>
                        <a href = "{% url 'entry-delete' entry.id %}" class="btn btn-outline-dark btn-sm m1">Delete</a>
                    </article>
                    <hr>
                {% endfor %}
                {% if request.user.is_authenticated %}
                    <p>Hello {{request.user}}</p>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'test' %}">Register</a>
            {% endif %}
        </div>
        {% endblock content %}
</body>
</html>